################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/backend/ImageProcessorApi/.vs/ImageProcessorApi
/backend/ImageProcessorApi/obj
/backend/ImageProcessorApi/bin/Debug/net8.0
/backend/ImageProcessorApi/ImageProcessorApi.csproj.user
/backend/ImageProcessorApi/.vs/ProjectEvaluation
frontend/image-ui/.editorconfig
/backend/ImageEventApi/bin
/backend/ImageEventApi/obj
/backend/ImageEventApi.Tests/bin
/backend/ImageEventApi.Tests/obj
/backend/ImageProcessorApi/bin/Release/net8.0
/backend/.vs/ImageProcessorApi
/backend/ImageEventApi/.vs
